* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.index-body {
    font-family: Arial, sans-serif;
    line-height: 1.9;
    color: black;
    background-color: #f4f4f4a8;
}

/* Header styles */
header {
    position: fixed;
    background: #007bff;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Hero section styles */
#hero {
    text-align: center;
    padding: 200px 50px;
    background: url('./images/hero_img.jpg') no-repeat center center/cover;
    /* Change to your image */
    color: #ffffffee;
}

.cta-button {
    margin: 30%;
    background: #28a745;
    /* Button color */
    color: #fff;
    padding: 20px 50px;
    text-decoration: none;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.toggle-header {
    display: flex;
    background-color: #00ff409a;
    /* Primary color */
    color: black;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.toggle-header:hover {
    display: flex;
    background-color: #0071b3f3;
    /* Darker shade on hover */
}

.toggle-content {
    padding: 10px;
    border: 1px solid #33ff0086;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
}

/* Scroll reveal styles */
.reveal {
    display: flex;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 80%;
    margin: 0 auto;
}

.reveal img {
    height: 500px;
    width: auto;
    object-fit: cover;
}


.visible {
    position: relative !important;
    transform: translate(0%, 0%);
    top: 0%;
    left: 0%;
    opacity: 1;
    flex-direction: column;
}